<h2 mat-dialog-title>{{data.property.name}}</h2>
<mat-dialog-content class="mat-typography">

  <div>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-button" mat-button mat-dialog-close>Continue</button>
</mat-dialog-actions>
