<h2 mat-dialog-title>Air Quality Map</h2>
<mat-dialog-content class="mat-typography">
  <h3>Contexte</h3>
  <p>Cette application web a pour but de présenter de manière interactive des informations relatives aux morts
    dus à la qualité de l'air ambiant par pays. <br> L'organisation mondiale de la santé présente ces informations
    sous forme tabulaire, ce qui rend la comparaison de ces données plutôt compliquée. Nous avons décidé de
    représenter ces donnés à l'aide d'une carte. Cette représentation doit permettre à l'utilisateur
    de comparer très rapidement la qualité de l'air et les cause de décès dû à la pollution entre différents pays.
  </p>

  <h3>Interaction avec la carte</h3>
  <ul>
    <li>
      Des filtres sont disponibles en bas à gauche. Ces filtres permettent d'afficher le taux de mortalité
      d'une cause en particulier
    </li>

    <li>
      Un clique sur un pays, affiche les détails de ce dernier à l'aide d'un pie chart.
    </li>
  </ul>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-button" mat-button mat-dialog-close>Continuer</button>
</mat-dialog-actions>
