<mat-toolbar color="primary">
  <mat-icon>map</mat-icon>
  <span class="title">Air Quality Map</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button>
    <mat-icon (click)="openDialog()">help</mat-icon>
  </button>
</mat-toolbar>

<div class="map" leaflet [leafletOptions]="options"></div>

<div class="leaflet-bottom leaflet-left">
  <div class="info leaflet-control">
    <h4>Filtre</h4>
    <mat-form-field style="width: 320px">
      <mat-select (selectionChange)="applyChange($event)" [(value)]="selectedValue">
        <mat-option *ngFor="let p of pollutionProperties" [value]="p.value">
          {{p.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

